<head>
<style>
body {
background-image: url(http://humorhub.net/wp-content/uploads/2013/06/turtle-and-rabbit.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
}
</style>
</head>


<body>
The rabbit won!
</body>
